.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.rounded-circle{
width: :100%;
height: 100%;
border-radius: 50%;

}


#divProva{
width: :100%;
height: 100%;
  margin:auto;
  
text-align: center;
}

#columnProva{
  width: 100px;
  border: 1px green solid;
  margin: 10px;
  display: inline-block;
  text-align: left;
}