.addmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centeralign {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.rounded-circle{
width: 150% !important;
height: 100% !important;
border-radius: 50%;

}


#divProva{
width: :50%;
height: 50%;
  margin:auto;

text-align: center;
}

#columnProva{
  width: 100%;
 margin-right: 10% !important;
  margin: 10%;
  display: inline-block;
  text-align: left;
}