[Unit]
Description=x22app

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/centos/simplereact/build/static/js/main.be7a46e8.js 
WorkingDirectory=/home/centos/simplereact/

[Install]
WantedBy=multi-user.target